.Para{
     font-size: 400%;
     color: white;
    margin-bottom: 0px;
     
}
.new{
     margin-left: 23px;
     color: white;
    padding-bottom: 10px;
    font-size: large;
}
.store{
     margin-top: 200px;
     margin-left: 20px;
     color: white;
}
.Butoon{
     margin-left: 30px;
     margin-top: 10px;

}

.Ima{
     margin-top: 4px;
     margin-bottom: 4px;
}
